/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 57px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }

  // Keep social links with the profile while making them fit the sidebar.
  .social .contact-icons {
    font-size: 2rem;

    a {
      img {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 0.5rem;
      }

      svg {
        width: 1.75rem;
        height: 2rem;

        image {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
